<div class="loginFormStyle mt-5 pt-5">
  <div class="container">
    <div class="row">
      <div class="toastrStyle" *ngIf="loginSuccess">Login Successfull</div>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <h3 class="loginnamne mb-3">Login</h3>
        <div class="col-md-10 m-auto">
          <input
            type="text"
            class="form-control mb-3"
            formControlName="userName"
            placeholder="User Name"
          />
        </div>
        <div class="col-md-10 m-auto">
          <input
            type="password"
            class="form-control mb-3"
            formControlName="password"
            placeholder="Password"
          />
        </div>
        <div class="col-md-10 m-auto text-center">
          <button
            [disabled]="!loginForm.valid"
            class="btn btn-success btn-successbutton"
          >
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
